<head>
  <base href="../" />
  <title>
    <%=title%>
  </title>
  <meta charset="utf-8" />
  <meta name="description"
    content="Manage your invoices, clients, and payments effortlessly with our modern invoicing dashboard. Fast, secure, and easy to use—perfect for freelancers, small businesses, and agencies." />
  <meta name="keywords"
    content="invoice app, invoice dashboard, billing software, small business invoicing, invoice tracker, payment management, client invoicing, freelance tools, invoice generator" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="Smart Invoicing Dashboard–Simplify Billing & Get Paid Faster" />
  <meta property="og:description"
    content="Streamline your invoicing and client payments with a clean, professional dashboard. Send invoices, track due dates, and manage taxes—all in one place." />
  <meta property="og:url" content="https://scribebill.com" />
  <meta property="og:site_name" content="ScribeBill" />
  <link rel="shortcut icon" href="/assets/media/images/ScribeBill(5).png" />
  <!--begin::Fonts(mandatory for all pages)-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Geist:300,400,500,600,700" />
  <!--end::Fonts-->
  <!--begin::Vendor Stylesheets(used for this page only)-->
  <link href="/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
  <link href="/assets/plugins/custom/vis-timeline/vis-timeline.bundle.css" rel="stylesheet" type="text/css" />
  <!--end::Vendor Stylesheets-->
  <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
  <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
  <!--end::Global Stylesheets Bundle-->
  <script>// Frame-busting to prevent site from being loaded within a frame without permission (click-jacking) if (window.top != window.self) { window.top.location.replace(window.self.location.href); }</script>
</head>